<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zou.springboot.gogogo.mapper.UserInfoMapper">
     
     <resultMap id="TBL_USERINFO" type="zou.springboot.gogogo.bean.UserInfo" >
    	<result property="name" column="name" />
		<result property="address" column="address" />
		<result property="id" column="id"/>
     </resultMap>
     <!--这里只是样例，么有按照内容来写，请和mybaits保持一致 -->
   <select id="getUserInfo" parameterType="java.lang.String"  resultMap="TBL_USERINFO">
       select * from zou where id=#{id}
    </select>
</mapper>